/* || basic set up + sizing for containers */

html, body {
  margin: 0;
  background-color: #000000;
}

/*
html {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: 'Pathway Gothic One', sans-serif;
}
*/

div.centered {
  // horizontally align. TODO: DOESN'T ACTUALLY WORK SRY
  width: 20rem;
  margin: 0 auto;
}

#startButton {
  font-size: 1.1rem;
  width: 12.6rem;
  line-height: 2.5rem;
  border-radius: 6px;
  background: linear-gradient(to bottom, #C97907, #764807);
  color: white;
  text-shadow: 1px 1px 1px black;
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: inset 0px 5px 3px rgba(255,255,255,0.2),
              inset 0px -5px 3px rgba(0,0,0,0.2);
  margin-left: 1rem;
}
